body {
    color: hotpink;
}
.header-img img{
    align-items: center;
    display: flex; 
    max-width: 100%;
    padding: 50px;
    border: 10px;
    margin-bottom: 20px;
}

.text-1{
    font-family: cursive;
    color: rgb(255, 134, 59);
    text-align: center;
    white-space: nowrap;
}
