body {
    color: grey;
}
.header-img img{
    align-items: center;
    display: flex; 
    max-width: 100%;
    padding: 30px;
    border: 10px;
    margin-bottom: 20px;
}


.text-1{
    font-family: cursive;
    color: rgb(115, 192, 255);
    text-align: center;
    max-width: 100%;
    display:flex;
    justify-content: center;
}

.text-1 h5{
    font-size: 18px;
    text-align: center;
}

.text-2{
    text-align: center; 
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.container menu{
    display: flex;
}

.column{
    float: left; 
}
.menu-row{
    max-height: 130%;
}
.menu-image{
    padding: 10px;
    width: 33%;
}

.menu-image img{
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 10%;
    object-fit: cover;
}

.menu-description{
    padding: 10px;
    width: 67%;
    font-size: 14px;
}